:root {
    --blur: 1px;
    --space: 1px;
    --color: #fff;
}

* {
    box-sizing: border-box;
}

body {
    height: 90vh;
    color: black;
    font-style: normal;
    background-color: rgb(92, 77, 221) !important;
}

.container {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    min-height: 100%;

    align-items: center;
    justify-content: center;
}

.options {
    font-size: xx-large;
    margin-bottom: 50px;
}

.image {
    display: flex;
    justify-content: center;
    background-color: var(--color);
    border-radius: 10px;
    box-shadow: 0 0 2px 0.1px black;
}

img {
    padding: var(--space);
    filter: blur(var(--blur));

    border-radius: 10px;
    transition: all 0.3s;
}