* {
    box-sizing: border-box;
}

body {
    background-image: url("background.jpg");
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background-repeat: no-repeat;
    height: 100vh;
}

.ball {
    width: 5px;
    height: 5px;
    background-color: #dee1e3;
    box-shadow: 0 0 2px 0.1px black;
    border-radius: 100%;
    z-index: 100;

    transform: scale(0.9)
}

.container {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    min-height: 100%;

    align-items: center;
    justify-content: center;
}

.clock {
    display: flex;

    justify-content: center;
    align-items: center;

    border-radius: 100%;

    border: 3.5px solid white;
    box-shadow: 0 0 2px 0.1px black;

    width: 4rem;
    height: 4rem;

    transform: rotate(90deg) scale(7);
}

.tip {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 90%;
    height: 0.8px;

    transition: ease-in-out 0.1s;
}

#transparent {
    width: 50%;
    height: 100%;
}

#not-transparent {
    width: 50%;
    height: 100%;
    border-radius: 2rem;
}

.second-animation {
    transform-origin: center;
    transform: rotate(6deg)
}

